{% extends "base.html" %}
{% block content %}
<main class="list_1">
    {% for account in accounts %}
        Account User: {{ account.user_name }} <br>
        Account Balance: {{ account.balance }} <br>
        Account Transactions:  
        <form action="/full_statment" method="POST">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Submit">
        </form>


    {% endfor %}
</main>
{% endblock %}