{% extends "base.html" %}
{% block content %}

<h2 class="head_1"> Full Statement </h2>

<table class="table">
    <tr>
        <th>Merchant</th>
        <th>Location</th>
        <th>Tag</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr>
    {%  for transaction in transactions %}
    <tr>
        <td>{{ transaction.merchant.name }} </td>
        <td>{{ transaction.merchant.location }} </td>
        <td>{{ transaction.tag.name }} </td>
        <td>{{ transaction.date }} </td>
        <td>£{{ transaction.amount }} </td>
        <td>    
            <form action="/transactions/{{ transaction.id }}/edit" method="GET">
                <button type="submit" id='edit'><span> &#9998; </span></button>
            </form></td>
        <td>
            <form action="/transactions/{{ transaction.id }}/delete" method="POST">
                <button type="submit" id='delete'><span> &#128465;</span></button>
            </form>
        </td>
        
    </tr>
    {% endfor %}
    <tr></tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="total"><b>Total Spent:</b></td>
        <td> £{{ total_spent }}
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="total"><b>Balance:</b></td>
        <td> £{{ account.balance }}</td>
    </tr>


</table>

<form action="/add_new_transaction" id="add_new">
    Add New Transaction <button type="submit" id='add_new'><span> &#10133; </span></button>
</form>



{% endblock %}