{% extends "base.html" %}
{% block content %}

<h2 class="head_1"> Full Statment </h2>

<table class="table">
    <tr>
        <th>Merchant</th>
        <th>Location</th>
        <th>Tag</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr>
    {%  for transaction in transactions %}
    <tr>
        <td>{{ transaction.merchant.name }} </td>
        <td>{{ transaction.merchant.location }} </td>
        <td>{{ transaction.tag.name }} </td>
        <td>{{ transaction.date }} </td>
        <td>£{{ transaction.amount }} </td>
        <td></td>
        <td></td>
        
    </tr>
    {% endfor %}
    <tr></tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="total"><b>Total Spent:</b></td>
        <td> {{ total_spent }}
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="total"><b>Balance:</b></td>
        <td> </td>
    </tr>


</table>






{% endblock %}