<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Home Page</title>
</head>
<body>
    <main>
        <section>
           
            <h1 class="head_1">Money Manager</h1>

            <h2 class="home">Hello! <br>
            
            Please login <a href="/account">Here</a> to start tracking your spending</h2>
            <img class="logo" src="https://i.imgur.com/rh4JYaw.png" alt="logo">
        </section>
        </main>
</body>
</html>
