{% extends "base.html" %}
{% block content %}
<main class="list">
    <h2 class="head_1">Current Merchants Available</h2>
    {% for merchant in merchants %}
        Merchant: {{ merchant.name }}, {{ merchant.location }}             
        <form action="/merchant/{{ merchant.id }}/edit " methods="GET">
            <button type="submit" id='edit_merchant'>Edit Merchant</button>
        </form>
        <br>

    {% endfor %}

    <h2 class="head_1">Add New Merchant</h2>
        <section>
            <form action="/add_new_merchant" method='POST'>

                <label for="name">Name:</label>
                <input type="text" name="name" id="name"> <br>
                <label for="location">Location:</label>
                <input type="location" name="location" id="location"> <br>
                <input type="submit" value="Add New Merchant">
            </form>
        </section>

{% endblock %}