{% extends "base.html" %}
{% block content %}
        
   
    <section class="list">

        <form action="/transactions/{{ transaction.id }}" method="POST">
            <label for="account_id">Account Holder:</label>
            <select name="account_id" id="account_id">
                <optgroup label="Account Holder">
                    {% for account in accounts %}
                    <option value="{{ account.id }}"
                        {% if account.id == transaction.account.id %} selected=selected {% endif %}>
                        {{ account.user_name }}
                    </option>
                    {% endfor %}
                </optgroup> <br>
            </select>
            <label for="merchant_id">Merchant:</label>
            <select name="merchant_id" id="merchant_id">
                <optgroup label="Merchants">
                    {% for merchant in merchants %}
                    <option value="{{ merchant.id }}"
                    {% if merchant.id == transaction.merchant.id %} selected=selected {% endif %}>
                        {{ merchant.name }}
                    </option>
                    {% endfor %}
                </optgroup> <br>
            </select>
            <label for="amount">Transaction Amount:</label>
            <input type="float" id="amount" name="amount" value="{{ transaction.amount }}">
            <label for="date">Transaction Date:</label>
            <input type="date" id="date" name="date">
            <label for="tag_id">Tag:</label>
            <select name="tag_id" id="tag_id">
                <optgroup label="Tags">
                    {% for tag in tags %}
                    <option value="{{ tag.id }}"
                    {% if tag.id == transaction.tag.id %} selected=selected {% endif %}>
                        {{ tag.name }}
                    </option>
                    {% endfor %}
                </optgroup> <br>
            </select>
            <input type="submit" value="Edit Transaction" id="submit_edit">
        </form>
    </section>

{% endblock %}