{% extends "base.html" %}
{% block content %}
<main>
    <h2 class="head_1">Transaction List:</h2>
    {% for transaction in transactions %}
    
    Amount: £{{ transaction.amount }} <br>
    Date:{{ transaction.date }} 
    <form action="/transactions/{{ transaction.id }}/delete" method="POST">
        <button type="submit" id='delete'><span> &#128465;</span></button>
    </form>
    <form action="/transactions/{{ transaction.id }}/edit" method="GET">
        <button type="submit" id='edit'><span> &#9998; </span></button>
    </form>
    <br>

    {% endfor %}
    <br>
    <a href="/add_new_transaction">Add New Transaction</a>
    
</main>
{% endblock %}